@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900&display=swap');

:root {
    --primary-color: #953036;
  }
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 1.6;
}
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

header img {
    width: 150px;
}